.info-bar-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 50%;
	flex-direction: column;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.384);
	padding: 1rem;
	overflow: hidden;
	gap: 2rem;
}

.title {
	font-weight: 400;
	font-size: 1rem;
	text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
	.info-bar-container {
		width: 100%;
		height: max-content;
		padding-top: 3rem;
		padding-bottom: 2rem;
	}
} ;
