.searchContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.searchBar {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 4rem;
}

.inputContainer {
  display: flex;
  height: 100%;
  width: 85%;
  justify-content: center;
  flex-direction: column;
}

.suggestionsContainer {
  display: flex;
  height: 75%;
  color: rgb(206, 206, 206);
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  gap: 1rem;
  overflow-y: auto;
}

.suggestion {
  cursor: pointer;
}

.lastVisited {
  color: #fff;
}

.searchInput {
  height: 25%;
  width: 80%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #e1eaf0;
  line-height: 24px;
  font-size: 16px;
  color: #e1eaf0;
}

::placeholder {
  color: #e1eaf0;
}

.buttonContainer {
  display: flex;
  height: 25%;
  width: 20%;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
}

.searchBtn {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}
