.searchContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.searchBar {
  height: 25%;
  display: flex;
  flex-direction: row;
}

.inputContainer {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
}

.searchInput {
  height: 50%;
  width: 80%;
  align-self: flex-end;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #afd0e3;
  line-height: 24px;
  font-size: 16px;
  color: #afd0e3;
}

::placeholder {
  color: #afd0e3;
}

.buttonContainer {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
}

.searchBtn {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}
